<h1>Hot Weather Widget</h1>
<div class="element"  *ngIf="(tours$ | async) as tours; else loading" >

	<app-el-left
		[tours]="tours" 
		(ImageEmitter)="onClickImg($event)">
	</app-el-left>



	<div class="element-right">

		<weather [tour]="selectedTour"></weather>

		<stats [tour]="selectedTour"></stats>

	</div>
	<div class="clear"> </div>
</div>

<ng-template #loading>
	...loading
</ng-template>

<div class="copy-right">
	<p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
			W3layouts </a></p>
</div>