<div class="element-left">
    <div class="element-bg-img"><img [src]="firstImg" alt="" class="img-responsive"> </div>

    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul (click)="text = $event.target.innerText">

          <ng-container *ngFor="let item of arrTitleUniq" >
              <li><a href="#">{{item}}</a></li>
          </ng-container>

        </ul>
      </div>
      <div class="village">
        <h3>Righteous indignation & like</h3>
         <span class="line"> </span>
           <div class="activity_box">
            <div class="scrollbar" id="style-2" >

                <ng-container *ngFor="let tour of tours | titleFilter:text; index as i">
                    <div class="activity-row" (click)="clickTour(tour)" [attr.data-idx]="i">
                      <div class="activity-desc">
                        <h5>{{tour.address}}</h5>
                          <p>Sed perspiciatis</p>
                          <p>Et harum quidem</p>
                          <h6>Tel:+{{tour.phone | phone}}</h6>
                      </div>
                      <div class="activity-img">
                        <ul>
                          <li><img src="{{tour.img}}"  alt=""/></li>
                          <li><img src='{{tour.social_info.img}}'  alt=""/></li>
                        </ul>
                      </div>
                      <div class="clear"> </div>
                    </div>
                </ng-container>

                </div>
            </div>
       </div>
  </div>
   </div>
